@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

body{
	margin:auto;
	padding:20px;
	background-color: #F5F5F1 !important;
}
*{
	box-sizing: border-box;
	font-family: 'Hind Siliguri', sans-serif;
}

header{
	background-color: #ffffff;
	padding: 0;
	
}
.navbar
{
    background-color: #eaf9ee !important;
}
.navbtn
{
	text-align: center;
	margin-left: 50px;
    margin-right: 50px;
}
.navbar a img
{
    width: 90px;
    float: left;
    margin-left: 40px;

}
.navbar-toggler
{
    position: absolute;
    right: 15px;
    top: 12px;
}
.nav-item a
{
    font-size: 20px;
}
.header h1{
	text-align: center;
	font-size:60px;
	color:#000000;
	margin:1.5 0px;
}

h2{
	color:#000000;
	margin:1.5 0px;	
}

.card{
	background-color: #ffffff;
 	margin-top:20px;
}

.card img{
	width: 100%;
}
.rightcard
{
	font-size: 20px;
	
}

.rightcard .cardtext
{
	font-weight: 600;
}
.undrtitlebtn
{
	margin-right: 10px;
	white-space:nowrap;
}
.undrtitlebtn .btn
{
	display: flex;
	flex-wrap: nowrap;
	margin-right: 8px;
	align-items: center;
	height: 25px;
	font-size: 10px;
	font-weight: 300;
}
.undrtitlebtn .btnfb
{
	color: #4067b3;
}
.undrtitlebtn a
{
	display: flex;
	text-decoration: none;
	color: #E14D43;
	font-size: 16px;
	font-weight: 500;
}
.undrtitlebtn .likebtn
{
	color: #E14D43;
	border-style: none;
	background-color: #fff;
	align-items: center;
	height: 10px;
}

.carouselimg img
{
	width: 150px;

}
.votebtn
{
	background-color: #388087;
	border: none;
	color: #ffffff;
}
.card .votelink
{
	color: #E14D43;
	text-decoration: none;
}

  #exTab1 .nav-fill > li > a {
	border-radius: 24% 21% 10% 10% / 18% 18% 0% 0% ;
  }
  #exTab1 .tab-pane 
  {
	 padding : 5px 15px;
  }
  #exTab1 .tab-content > [id='places']  {
    background-color: #C2EDCE;
}

#exTab1 .tab-content > [id='hotel']  {
    background-color: #EED7D5;
}

#exTab1 .tab-content > [id='hospital']  {
    background-color: #FFD166;
}



/* pills styling */
#exTab1 .nav-fill > li > a {
  border-radius: 0;
}
.nav-fill > li > a.placetab {
    color: #4A6163;
    border: none;
}
.nav-fill > li > a.placetab.active {
    background-color: #C2EDCE;
    color: #4A6163;
    border: none;
}
.nav-fill > li > a.hoteltab {
    color: #F17A7E;
    border: none;
}
.nav-fill > li> a.hoteltab.active {
    background-color: #EED7D5;
    border: none;
}
.nav-fill > li > a.hospitaltab {
    color: #A97524;
    border: none;
}
.nav-fill > li > a.hospitaltab.active {
    background-color: #FFD166;
    border: none;
}
#hotel > ul >li > a
{
	color: #DF4C73 !important;
}
.review 
{
	background-color: #EAF3EE;
	width: 400px;
}
.submit
{
	color: #ffffff;
	background-color: #777777;
	border-style: none;
}
.scrollup {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 10px;
    text-align: center;
    padding: 10px;
    z-index: 100;
    display: none;
    background-color: #00B9D6;
    border-radius: 35px;
	box-shadow:7px 7px 10px rgba(0, 0, 0, 0.40);
  }
footer{
	background-color: #388087;
	color: #ffffff;
	padding: 20px;
	text-align: center;
	margin-top: 20px;
}
/* tab */
#navMenu {
	border-bottom: 1px solid #EFEBE8;
	border-top: 1px solid #EFEBE8;
	position: relative;
  }
  
  #navMenu #navMenu-wrapper {
	overflow: hidden;
	height: 60px;
	padding: 0 30px;
  }
  
  #navMenu-items {
	margin: 0 20px;
	padding: 1px 0;
	list-style: none;
	white-space: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
  }
  
  #menuSelector {
	position: relative;
	margin-left: -5px;
	top: -1px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #EFEBE8;
  }
  
  .active p, .active a { color: #fff !important; }
  
  #navMenu ul li {
	display: inline-block;
	margin: 16px 24px;
  }
  
  #navMenu a {
	color: #EFEBE8;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
  }
  .slick-prev, .icon-chevronleft { transform: rotate(180deg); }

.icon-chevronleft, .icon-chevronright {
  background-image: url('arrow.png');
  background-repeat: no-repeat;
  background-size: 20px;
}

.navMenu-paddle-left, .navMenu-paddle-right {
  cursor: pointer;
  border: none;
  position: absolute;
  top: 20px;
  background-color: transparent;
  width: 25px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
}

.slick-prev, .navMenu-paddle-left { left: 0; }

.arrow {
  width: 25px;
  margin-left: auto;
  margin-right: auto;
}

.slick-next, .navMenu-paddle-right { right: 0; }