@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

body{
	font-family: Arial;
	margin:auto;
	padding:20px;
	background-color: #f9f1f1;
}
*{
	box-sizing: border-box;
	font-family: 'Hind Siliguri', sans-serif;
}

header{
	background-color: #ffffff;
	padding: 0;
	
}
.navbtn
{
	text-align: center;
	margin-left: 50px;
    margin-right: 50px;
}
.navbar a img
{
    width: 90px;
    float: left;
    margin-left: 40px;

}
.navbar-toggler
{
    position: absolute;
    right: 15px;
    top: 12px;
}
.nav-item a
{
    font-size: 20px;
}
.header h1{
	text-align: center;
	font-size:60px;
	color:#000000;
	margin:1.5 0px;
}

h2{
	color:#000000;
	margin:1.5 0px;	
}

.card{
	background-color: #ffffff;
 	margin-top:20px;
}

.card img{
	width: 100%;
}
.rightcard
{
	font-size: 20px;
	
}

.rightcard .cardtext
{
	font-weight: 600;
}
.undrtitlebtn
{
	margin-right: 10px;
	white-space:nowrap;
}
.undrtitlebtn .btn
{
	display: flex;
	flex-wrap: nowrap;
	margin-right: 8px;
	align-items: center;
	height: 25px;
	font-size: 10px;
	font-weight: 300;
}
.undrtitlebtn .btnfb
{
	color: #4067b3;
}
.undrtitlebtn a
{
	display: flex;
	text-decoration: none;
	color: #E14D43;
	font-size: 16px;
	font-weight: 500;
}
.undrtitlebtn .likebtn
{
	color: #E14D43;
	border-style: none;
	background-color: #fff;
	align-items: center;
	height: 10px;
}

.carouselimg img
{
	width: 150px;

}
.votebtn
{
	background-color: #E14D43;
	border: none;
	color: #ffffff;
}
.card .votelink
{
	color: #E14D43;
	text-decoration: none;
}
#mytabcontent
{
	background-color: #EAF3EE;
}
.review 
{
	background-color: #EAF3EE;
	width: 400px;
}
.submit
{
	color: #ffffff;
	background-color: #777777;
	border-style: none;
}
footer{
	background-color: #212529;
	color: #ffffff;
	padding: 20px;
	text-align: center;
	margin-top: 20px;
}