@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

body{
	margin:auto;
	padding:20px;
	background: #FFEFBA;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
*{
	box-sizing: border-box;
	font-family: 'Hind Siliguri', sans-serif;
}

header{
	background-color: #ffffff;
	padding: 0;
	
}
.header h1{
	text-align: center;
	font-size:60px;
	color:#000000;
	margin:1.5 0px;
}
.header button
{
    border: 0;
}
.header a img {
    width: 200px;
    float: left;
    margin-left: 50px;
}
.header .navbtn .nav-item a {
    font-size: 20px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    transition: 0.3s ease;
}
.header .navbtn .nav-item .login
{
   border: #F67777 solid 2px;
   color: #fff;
   border-radius: 20px !important;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 5px;
   padding-bottom: 5px;
   background-color: #0088ab;
}
.header .navbtn .nav-item:hover {
    background-color: #ADEAD9;
    border-radius: 20px;
}
.navbar {
   background-color: #FDFDEB;
   --bs-navbar-padding-y: 0 !important;
}
.navbtn {
    margin-left: 50px;
    margin-right: 50px;
}
.nav-item a {
    font-size: 20px;
}
.navbar-toggler {
    position: absolute;
    right: 15px;
    top: 12px;
}

h2{
	color:#000000;
	margin:1.5 0px;	
}

.card{
	background: rgba(255,255,255,0.5) !important;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    position:relative;
    z-index:1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
.border .imgup
{
    border: #dd7474 3px dashed;
    height: 100px !important;

}
#submit
{
    font-size: 20px;
}
.rightcard
{
	font-size: 20px;
	
}

.rightcard .cardtext
{
	font-weight: 600;
}
.carouselimg img
{
	width: 150px;

}
.votebtn
{
	background-color: #388087;
	border: none;
	color: #ffffff;
}
.card .votelink
{
	color: #E14D43;
	text-decoration: none;
}

.review 
{
	background-color: #EAF3EE;
	width: 400px;
}
.submit
{
	color: #ffffff;
	background-color: #777777;
	border-style: none;
}
.product .sub
{
    background: #F7D756;
    box-shadow: -10px -10px 15px rgb(255, 255, 255),
    8px 8px 25px #97a7c3;
    border: none;
}
.scrollup {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 10px;
    text-align: center;
    padding: 10px;
    z-index: 100;
    display: none;
    background-color: #4A6163;
    border-radius: 35px;
	box-shadow:7px 7px 10px rgba(0, 0, 0, 0.40);
  }
  .scrollup .bi
  {
    color: #F48200;
  }
footer{
	background-color: #388087;
	color: #ffffff;
	padding: 20px;
	text-align: center;
	margin-top: 20px;
}

@media only screen and (min-width: 990px) {
	.product {
	  width: 75%;
	}
  }


