html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}
.header
{
    padding-top: 30px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
}
.header a img
{
    width: 90px;
    float: left;
    margin-left: 50px;

}
.header h1
{
    padding-top: 200px;
    padding-bottom: 0;
    font-size: 55px;
}
.navbtn
{
    margin-left: 50px;
    margin-right: 50px;
}
.nav-item a
{
    font-size: 20px;
}

.navbar-toggler
{
    position: absolute;
    right: 15px;
    top: 12px;
}

.login-btn
{
    width: 100px;
    padding: 8px 3px;
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: turquoise;
    color: saddlebrown;
    float: right;
}
.herosec
{
        height: 700px;
        background-image: url(images/banner1.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        padding-top: 30px;
        text-align: center;
        color: #fff;
        margin: 0 auto;
}
.input-group
{
   margin-top: 100px !important;
    margin: auto;
    padding:  2px;
    width: 90%;
    max-width: 400px;
    border-radius: 30px;
    background: #fff;
}
.form-control
{
   border: 0 !important;
   border-radius: 30px !important;
   margin: 2px;
   box-shadow: none !important; 
}
.input-group-text
{
    width: 100px;
    height: 40px;
    background-image: linear-gradient(#66FFBF,#00B9D6);
    border: 0 !important ;
    color: #fff !important ;
    padding: 0 25px !important;
    border-radius: 30px !important;
    box-shadow: none !important;
}
.card
{
    width: 75%;  
}
.card img
{
    width: 100%;
}

.card-body h3
{
    color: #EF532A;
}
.card-body p
{
    font-size: 18px;
}
.card-body a
{
    text-decoration: none;
    font-size: 18px;
    color: #EF532A;
}