@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Mina:wght@700&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
    font-family: 'Hind Siliguri', sans-serif;
}
.container
{
    background-color: #F9F9F9;
}
.header
{
    padding-top: 30px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
}
.header a img
{
    width: 90px;
    float: left;
    margin-left: 50px;

}
#m-hero
{
     --mq-font-family: 'Mina', sans-serif;
     --mq-font-size: 1.9rem;
     --mq-bg: #9eeaf9;
     --mq-hover-bg: #6edff6;
}
.header h1
{
    padding-top: 200px;
    padding-bottom: 0;
    font-size: 55px;
}
.navbtn
{
    margin-left: 50px;
    margin-right: 50px;
}
.nav-item a
{
    font-size: 20px;
}

.navbar-toggler
{
    position: absolute;
    right: 15px;
    top: 12px;
}

.login-btn
{
    width: 100px;
    padding: 8px 3px;
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: turquoise;
    color: saddlebrown;
    float: right;
}
.input-group
{
    margin: auto;
    padding: 2px;
    width: 90%;
    max-width: 400px;
    border-radius: 30px;
    background: #fff;
    box-shadow: 5px 8px 7px #888888
}
.form-control
{
   border: 0 !important;
   border-radius: 30px !important;
   margin: 2px;
   box-shadow: none !important; 
}
.input-group-text
{
    width: 100px;
    height: 40px;
    background-image: linear-gradient(#66FFBF,#00B9D6);
    border: 0 !important ;
    color: #9E0E62 !important ;
    font-weight: 400 !important;
    padding: 0 25px !important;
    border-radius: 30px !important;
    box-shadow: none !important;
}

.card
{
    width: 100%;  
}
.card img
{
    width: 100%;
    margin: auto;
    transition: 0.5s;
}

.card-body h3
{
    color: #EF532A;
}
.card-body p
{
    font-size: 18px;
}
.card-body a
{
    text-decoration: none;
    font-size: 18px;
    color: #EF532A;
}
.gotopbtn
{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #EF532A;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;

}
.card:hover{

    box-shadow: 3px 3px 15px #888888; 
  }
  .card:hover img {

    opacity: 0.9;
  }